* {
    box-sizing: border-box;
    font-family: 'Veles', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
	padding: 0;
}

ul {
    list-style-type: "\1F423";
}

section ul li {
    font-size: 1.35em;
}

li span.bullet {
    display: inline-table;
    vertical-align: top;
    padding-left: 10px;
    font-size: 1rem;
}

div, .text-block li, li span, label, input, p {
    font-family: 'Montserrat', sans-serif;
}

button div, .info div {
    font-family: 'Veles', Arial, sans-serif;
    font-size: 1.1em;
}

strong, b {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

nav a {
    font-weight: bold;
    color: #306B61;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 11px 35px 5px rgba(0,0,0,0.1);
    z-index: 2;
}

body {
    background: url(../images/pattern1.png);
    background-position: center;
    background-size: 100%;
}

/* navigation */
nav.default {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.burger, .burger-menu {
    display: none;
}

nav .logo {
    width: 170px;
}

nav .logo img {
    height: 100px;
    padding-left: 20px;
}

nav .menu {
    display: flex;
    align-items: center;
}

nav .menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 40px;
    font-size: 1.2em;
}

nav .menu ul li {
    margin: 0px 15px;
    height: 25px;
}

.menu li:hover {
    border-bottom: 3px solid #F5A797;
}

.menu ul li:hover, button:hover, nav img:hover {
    cursor: pointer;
}

.call {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.call .call-btn {
    height: 60px;
    min-width: 150px;
    background-color: #F5A797;
    border: none;
    border-radius: 15px;
    color: #fff;
    white-space: normal;
    word-wrap: break-word;
}

.call .call-btn:hover,
.submit-btn button:hover {
    background-color: #F5A797;
    opacity: 0.9;
}

.call .call-btn div {
    font-weight: 400;
    font-weight: 1.1em; 
}

/* body */
main {
    padding: 150px 120px 0px 120px;
}

.line {
    height: 1.1px;
    background-color: rgba(238, 238, 238, 0.856);
    margin: 50px 0px;
}

.about-us {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features {
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 49%;
}

.flip-card {
    width: 49%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover {
    cursor: pointer;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.gray-cover {
    background-color: rgba(88, 88, 88, 0.7);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray-cover .title {
    color: #fff;
    font-weight: 500;
    font-size: 2em;
}

.kindergarten-front {
    background: url('../images/features.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: local;
    /* -webkit-box-shadow: 12px 12px 0px 1px rgba(67,151,140,0.85); 
    box-shadow: 12px 12px 0px 1px rgba(67,151,140,0.85); */
}

.kindergarten-back {
    background-color: rgb(245, 167, 151, 0.5);
}

.child-front {
    background: url('../images/child.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: local;
    /* -webkit-box-shadow: -15px -15px 0px 1px rgba(206,211,103,0.85); 
    box-shadow: -15px -15px 0px 1px rgba(206,211,103,0.85); */   
}

.child-back {
    background-color: rgb(48, 107, 97, 0.5);
}

.stream-front {
    background: url('../images/stream.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: local;
}

.stream-back {
    background-color: rgb(237, 161, 85, 0.5);
}

.infrastructure-front {
    background: url('../images/safety.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: local;
    /* -webkit-box-shadow: -21px -14px 0px 1px rgba(237,161,85,0.85); 
    box-shadow: -21px -14px 0px 1px rgba(237,161,85,0.85);; */
}

.infrastructure-back {
    background-color: rgb(206, 211, 103, 0.5);
}

.kindergarten-back ul,
.child-back ul,
.stream-back ul,
.infrastructure-back ul {
    margin-left: 40px;
    margin-right: 10px;
}

.kindergarten-back li,
.child-back li {
    padding: 15px 0px;
}

.stream-back li {
    padding: 7px 0px;
}

.infrastructure-back li {
    padding: 5px 0px;
}

/* contacts */
.contacts {
    height: 350px;
    background-color: #F5A797;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts .info {
    width: 40%;
    padding: 20px 0px 20px 30px;
}

.contacts .map {
    padding: 10px;
    width: 50%;
    height: 100%;
}

.vertical-line {
    width: 1.2px;
    background-color: rgba(238, 238, 238, 0.856);
    margin: 20px 0px;
}

.info div, .info a {
    font-size: 1.1em;
    color: #fff;
}

address div {
    padding-top: 20px;
}

.icons {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}

.icon {
    width: 40px;
}

.icon:hover {
    cursor: pointer;
}

/* form */
.enrolment {
    width: 100%;
    height: 440px;
}

.enrolment input {
    display: block;
    margin-bottom: 20px;
    width: 250px;
    height: 35px;
}

.enrolment label {
    padding-bottom: 10px;
}

.enr-message {
    text-align: center;
    line-height: 35px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn button {
    width: 135px;
    height: 40px;
    background-color: #F5A797;
    border: none;
    border-radius: 15px;
    color: #fff;
    white-space: normal;
    font-size: 1.01em;
    word-wrap: break-word;
}

.submit-btn button:disabled,
.submit-btn button[disabled] {
    cursor: not-allowed;
    opacity: 0.6;
}

input:focus:required:invalid {
    border: 2px solid red;
}

.form-info {
    padding-top: 25px;
    text-align: center;
}

.form-info p:nth-child(2) {
    padding-top: 15px;
}

/* footer */
footer {
    height: 50px;
}

.copyright {
    height: 100%;
    line-height: 50px;
    text-align: center;
}

@font-face {
    font-family: 'Veles';
    src: url('../fonts/Veles-Bold.eot');
    src: local('./fonts/Veles-Bold'),
        url('../fonts/Veles-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Veles-Bold.woff2') format('woff2'),
        url('../fonts/Veles-Bold.woff') format('woff'),
        url('../fonts/Veles-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Veles';
    src: url('../fonts/Veles-Regular.eot');
    src: local('../fonts/Veles-Regular'),
        url('../fonts/Veles-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Veles-Regular.woff2') format('woff2'),
        url('../fonts/Veles-Regular.woff') format('woff'),
        url('../fonts/Veles-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* slider */
.splide__slide .slider-img {
	width : 100%;
	height: auto;
}

.splide__slide .slider-img img {
    max-width: 100%;
    max-height: 100%;
}

.splide__slide .slider-img img:hover {
    cursor: pointer;
}


/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.7);
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

#modal-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-content img {
    max-height: 100%;
    max-width: 100%;
    padding: 30px;
}

@media only screen and (max-width: 1150px) {

    main {
        padding: 150px 70px 0px 70px;
    }

    .cards-row {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }

    .flip-card {
        width: 100%;
        min-height: 400px;
    }

    .features {
        height: 1650px;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 950px) {

    main {
        padding: 110px 60px 0px 60px;
    }

    nav.default {
        display: none;
    }

    .burger {
        display: block;
        height: 80px;

        position: fixed;
        width: 100%;
        background-color: #fff;
        transition: top 0.3s;
    }

    .burger-icons {
        display: flex;
        justify-content: space-between;
    }

    .burger-logo {
        height: 80px;
        width: 80px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
    }

    .burger-logo:hover {
        cursor: pointer;
    }

    .burger-logo svg {
        height: 50px;
        width: 50px;
        color: rgb(48, 107, 97);
    }

    nav .logo2 {
        height: 80px;
        z-index: 3;
    }

    nav .logo2 img {
        height: 80px;
        padding-left: 20px;
    }

    .burger-menu {
        width: 100%;
        height: 100vh;
        background-color: #fff;
        justify-content: center;
        transition: all .5s ease-in-out;
        transform-origin: left top;
        display: flex;
        top: -1000px;
        position: relative;
    }

    .burger-menu ul {
        height: 50%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
    }

    .burger-menu li {
        list-style-type: none;
    }
}

@media only screen and (max-width: 800px) {

    .contacts {
        flex-direction: column;
        height: 700px;
    }

    .map {
        width: 100%!important;
    }

    .info {
        width: 100%!important;
    }

    .about-us {
        height: 540px;
    }
}

@media only screen and (max-width: 700px) {

    /* SLIDER */

    .about-us {
        height: 620px;
    }

    .enrolment {
        height: 470px;
    }

    section ul li {
        font-size: 1em;
    }
}

@media only screen and (max-width: 600px) {

    main {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about-us {
        height: 600px;
    }

    .features {
        height: 1700px;
    }

    .cards-row {
        height: 850px;
    }

    .flip-card {
        min-height: 400px;
        max-height: 400px!important;
    }

    section ul li {
        font-size: 0.8em;
    }

    .stream-back li {
        padding: 7px 0px;
    }
}

@media only screen and (max-width: 550px) {

    .child-back li {
        padding: 8px 0px;
    }

    .stream-back li {
        padding: 5px 0px;
    }

    .infrastructure-back li {
        padding: 4px 0px;
    }
}

@media only screen and (max-width: 500px) {

    .about-us {
        height: 640px;
    }
}

@media only screen and (max-width: 450px) {

    .about-us {
        height: 700px;
    }

    .enrolment {
        height: 500px;
    }

    .info div {
        font-size: 1em;
    }

    .gray-cover .title {
        font-size: 1.6em;
    }

    li span.bullet {
        font-size: 0.9rem;
    }

    .infrastructure-back li {
        padding: 3px 0px;
    }
}

@media only screen and (max-width: 420px) {

    .about-us {
        height: 650px;
    }

    li span.bullet {
        font-size: 0.85rem;
    }

    div, p {
        font-size: 0.9rem;
    }

    .enrolment {
        height: 470px;
    }
}

@media only screen and (max-width: 380px) {

    .about-us {
        height: 700px;
    }

    .child-back li {
        padding: 4px 0px;
    }

    .stream-back li {
        padding: 3px 0px;
    }

    li span.bullet {
        font-size: 0.8rem;
    }

    .enrolment {
        height: 490px;
    }
}